@charset "utf-8";
/* CSS Document */
body{
	background: #222 url(../img/pattern_40.gif) repeat;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	text-transform:uppercase;
	font-size:18px;
	min-height:600px
}
#slider {
	width:1300px;
	height:400px;
	margin:50px auto 0px;
}
