<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>The WebOps CLub &middot; Center For Innovation, IITM </title>
    <link rel="stylesheet" href="http://www.broken-links.com/tests/animations/neon.css">
    <script type="text/javascript" src="/static/js/resource1.js" ></script>
    <script type="text/javascript" src="/static/js/resource2.js"></script>
    <style>
    h1 {
      margin-top: 5%;
      margin-bottom: 5%;
      }
    </style>
  </head>
  <body>
    <h1><span class="out">W</span><span class="out">e</span><span class="out">b</span><span class="out">O</span><span class="out">p</span class="out"><span class="out">s</span><span class="out"> </span><span class="out">C</span><span class="out">l</span><span class="out">u</span><span class="out">b</span></h1>
    <h1><span>C</span><span>o</span><span>m</span><span>i</span><span>n</span><span>g</span><span> </span><span>S</span><span>o</span><span>o</span><span>n</span></h1>
  </body>
</html>
